{% extends 'base.html' %}
{% load static %}

{% block style_source %}
    <link href="{% static '/styles/home.css' %}" rel="stylesheet">
{% endblock style_source %}

{% block head %}
    <title>Ecoapp</title>
{% endblock head %}

{% block body %}
<body>
    <div class="content">
        <header class="row"> 
            <h1 style="color: #322153; font-family: Roboto;font-weight: bold;font-size: 150px;">EcoApp</h1>
            <a href="/create-collection-point" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12" >
                <span></span>
                Cadastre um ponto de coleta
            </a> 
        </header>
        <main>
            <h1>Seu marketplace de coleta de resíduos</h1>
                
            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
        
            <a href="/collection-points"><span class="glyphicon glyphicon-search"></span><strong>Pesquisar pontos de coleta</strong></a>
        </main>
    </div>
</body>
{% endblock body %}